<article class="article" data-tags="{{join tags ' '}}">
   <h4 class="article__title"><a href="{{url}}" target="_blank" rel="noopener noreferrer">{{title}}</a></h4>
   <small class="article__info">
      Published on
      <a href="{{websiteUrl}}" target="_blank" rel="noopener noreferrer" class="article__publisher">{{website}}</a>
      <time class="article__date" datetime="{{date}}"></time>
   </small>
</article>