<article class="media talk">
   <h4 class="talk__title">{{title}}</h4>
   <div class="clearfix">
      <div class="media__image talk__slides">
         <script async class="speakerdeck-embed" data-id="{{speakerdeckId}}"
                 data-ratio="1.29456384323641" src="https://speakerdeck.com/assets/embed.js"></script>
      </div>
      <div class="talk__description">
         {{{description}}}
      </div>
   </div>
   <section>
      <h5>Presentation given at</h5>
      <ul>
         {{#each given-at}}
            <li>
               <a href="{{website}}" target="_blank" rel="noopener noreferrer">{{name}}</a>, {{location}},
               <time datetime="{{date}}">{{formatDate date "%d/%m/%Y"}}</time>,
               <a href="{{slidesUrl}}" target="_blank" rel="noopener noreferrer">
                  Slides<span class="visually-hidden"> of the talk <cite>{{../title}}</cite> given at {{name}}</span></a>{{#if videoUrl}},
               <a href="{{videoUrl}}" target="_blank" rel="noopener noreferrer">
                  Video<span class="visually-hidden"> of the talk <cite>{{../title}}</cite> given at {{name}}</span>
               </a>{{/if}}
            </li>
         {{/each}}
      </ul>
   </section>
</article>