---
title: Speaking
description: The website of Aurelio De Rosa, a (full-stack) web developer with more than 5 years' professional experience.
controller: main
action: speaking
---
<main>
   <article class="island belt">
      <h2>Speaking</h2>
      <p>
         I love to speak about HTML, CSS, PHP, JavaScript, web APIs, jQuery, and many other topics. In this page you can
         see all my previous presentations given at local, national, and international conferences. If you would
         like me to speak at one of your events,
         <a href="mailto:a.derosa@audero.it">send me an email at a.derosa@audero.it</a> with the details and I'll
         get back to you as soon as possible.
      </p>
      <div class="js-gallery-speaking gallery-speaking">
         <div class="js-gallery-speaking-items gallery-speaking__items">
            <div class="js-gallery-speaking-item gallery-speaking__item">
               <picture>
                  <source media="(min-width: 1025px)" srcset="/images/aurelio-de-rosa-jsday-2015.jpg" />
                  <source srcset="/images/aurelio-de-rosa-jsday-2015-mobile.jpg" />
                  <img src="/images/aurelio-de-rosa-jsday-2015.jpg"
                       alt="Aurelio De Rosa speaking at the jsDay 2015 conference" />
               </picture>
            </div>
            <div class="js-gallery-speaking-item gallery-speaking__item">
               <picture>
                  <source media="(min-width: 1025px)" srcset="/images/aurelio-de-rosa-4developers-2015.jpg" />
                  <source srcset="/images/aurelio-de-rosa-4developers-2015-mobile.jpg" />
                  <img src="/images/aurelio-de-rosa-4developers-2015.jpg"
                       alt="Aurelio De Rosa speaking at the 4Developers 2015 conference" />
               </picture>
            </div>
            <div class="js-gallery-speaking-item gallery-speaking__item">
               <img src="/images/aurelio-de-rosa-lws-july-2014.jpg"
                    alt="Aurelio De Rosa speaking at the London Web Standards meet-up" />
            </div>
            <div class="js-gallery-speaking-item gallery-speaking__item">
               <img src="/images/aurelio-de-rosa-4developers-2014.jpg"
                    alt="Aurelio De Rosa speaking at the 4Developers 2014 conference" />
            </div>
         </div>

         <button class="js-gallery-arrow-left gallery-speaking__arrow gallery-speaking__arrow--left">
            <span class="visually-hidden">Previous item</span>
         </button>

         <button class="js-gallery-arrow-right gallery-speaking__arrow gallery-speaking__arrow--right">
            <span class="visually-hidden">Next item</span>
         </button>
      </div>
      <section>
         <h3>Presentations given</h3>
         {{#each speaking.talks}}
            {{> talk talk=this}}
         {{/each}}
      </section>
      <section>
         <h3>Comments by attendees</h3>
         <p>The following are some of the nice things people have said after attending one of my talks:</p>
         <div class="grid">
            <div class="grid__item tablet--one-half">
               <div class="joindin-embed" data-id="44236" data-type="talk-comment">
               </div>
            </div>
            <div class="grid__item tablet--one-half">
               <div class="joindin-embed" data-id="43973" data-type="talk-comment">
               </div>
            </div>
            <div class="grid__item tablet--one-half desktop--one-third">
               <blockquote class="twitter-tweet" lang="en">
                  <p>
                     Future calls: In depth overview of the very early WebSpeech API by
                     <a href="https://twitter.com/AurelioDeRosa">@AurelioDeRosa</a> at
                     <a href="https://twitter.com/hashtag/wtc14?src=hash">#wtc14</a>
                  </p>
                  &mdash; Roman Stranghöner (@rstrangh)
                  <a href="https://twitter.com/rstrangh/status/526752669739016192">27 Ottobre 2014</a>
               </blockquote>
            </div>
            <div class="grid__item tablet--one-half desktop--one-third">
               <blockquote class="twitter-tweet" lang="en">
                  <p>
                     I absolutely love Page Visibility API, but I really hope there are no adfly devs at
                     <a href="https://twitter.com/hashtag/lwsHTML5?src=hash">#lwsHTML5</a> today, or we're
                     screwed, <a href="https://twitter.com/AurelioDeRosa">@AurelioDeRosa</a>
                  </p>
                  &mdash; Marek Lenik (@criography)
                  <a href="https://twitter.com/criography/statuses/491288740321845248">21 Luglio 2014</a>
               </blockquote>
            </div>
            <div class="grid__item tablet--one-half desktop--one-third">
               <blockquote class="twitter-tweet" lang="en">
                  <p>
                     Great APIs presentation by <a href="https://twitter.com/AurelioDeRosa">@AurelioDeRosa</a>,
                     cool T-Shirt too!
                  </p>
                  &mdash; Daniele Baelde (@SigBaldi)
                  <a href="https://twitter.com/SigBaldi/statuses/491297556040003586">21 Luglio 2014</a>
               </blockquote>
            </div>
            <div class="grid__item tablet--one-half desktop--one-third">
               <blockquote class="twitter-tweet" lang="en">
                  <p>
                     <a href="https://twitter.com/AurelioDeRosa">@AurelioDeRosa</a> presentation about moder frontend
                     in eyes of PHP dev brought lots of useful tools
                     <a href="https://twitter.com/search?q=%234developers&amp;src=hash">#4developers</a>
                  </p>
                  &mdash; Przemek K (@Kolemp)
                  <a href="https://twitter.com/Kolemp/statuses/453102831395155968">7 Aprile 2014</a>
               </blockquote>
            </div>
            <div class="grid__item tablet--one-half desktop--one-third">
               <blockquote class="twitter-tweet" lang="en">
                  <p>
                     <a href="https://twitter.com/AurelioDeRosa">@AurelioDeRosa</a>
                     great talk - I have a lot of things to think about :-) for instance, now I don&#39;t want
                     to implement assetic ;-)
                  </p>
                  &mdash; Leszek Krupiński (@leafnode)
                  <a href="https://twitter.com/leafnode/statuses/453097648103653376">7 Aprile 2014</a>
               </blockquote>
            </div>
            <div class="grid__item tablet--one-half desktop--one-third">
               <blockquote class="twitter-tweet" lang="en">
                  <p>
                     Great talk by <a href="https://twitter.com/AurelioDeRosa">@AurelioDeRosa</a> about modern
                     frontend at <a href="https://twitter.com/search?q=%234developers&amp;src=hash">#4developers</a>
                  </p>
                  &mdash; Mateusz Sojda (@msojda)
                  <a href="https://twitter.com/msojda/statuses/453092288739409920">7 Aprile 2014</a></blockquote>
            </div>
            <div class="grid__item tablet--one-half desktop--one-third">
               <blockquote class="twitter-tweet" lang="en">
                  <p>
                     Interesting talk about <a href="https://twitter.com/search?q=%23JavaScript&amp;src=hash">#JavaScript</a>
                     <a href="https://twitter.com/search?q=%23APIs&amp;src=hash">#APIs</a> by
                     <a href="https://twitter.com/AurelioDeRosa">@AurelioDeRosa</a>.
                     <a href="https://twitter.com/search?q=%23codemotion&amp;src=hash">#codemotion</a>
                     <a href="https://twitter.com/search?q=%23es&amp;src=hash">#es</a>
                  </p>
                  &mdash; David Rey (@dreyacosta)
                  <a href="https://twitter.com/dreyacosta/statuses/391562655133343745">19 Ottobre 2013</a></blockquote>
            </div>
            <div class="grid__item tablet--one-half desktop--one-third">
               <blockquote class="twitter-tweet" lang="en">
                  <p>
                     Bravo <a href="https://twitter.com/AurelioDeRosa">@AurelioDeRosa</a> Great talk :-)
                     <a href="https://twitter.com/search?q=%23CodeMotion&amp;src=hash">#CodeMotion</a>
                  </p>
                  &mdash; Jose Villalobos (@josevillalobos)
                  <a href="https://twitter.com/josevillalobos/statuses/391562821986947072">19 Ottobre 2013</a>
               </blockquote>
            </div>
         </div>
         <script defer async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </section>
      {{#if speaking.upcoming-events}}
      <section>
         <h2>Upcoming events</h2>
         <ol>
            {{#each speaking.upcoming-events}}
               <li>
                  <a href="{{website}}">{{conference}}</a>, {{location}},
                  <time datetime="{{date}}">{{formatDate date "%d/%m/%Y"}}</time>.
                  Talk: <cite>{{talk}}</cite>
               </li>
            {{/each}}
         </ol>
      </section>
      {{/if}}
   </article>
</main>